[Unit]
Description=smoo USB gadget
After=modprobe@ublk_drv.service modprobe@usb_f_fs.service modprobe@libcomposite.service sys-kernel-config.mount systemd-udevd.service
Requires=modprobe@ublk_drv.service modprobe@usb_f_fs.service modprobe@libcomposite.service sys-kernel-config.mount
Wants=systemd-udevd.service
Before=initrd-root-fs.target
DefaultDependencies=no
SurviveFinalKillSignal=yes

[Service]
Type=simple
RuntimeDirectory=smoo
ExecStart=/usr/bin/smoo-gadget --queue-count=2 --queue-depth=16 --state-file=/run/smoo/state.json --adopt
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=initrd.target
