[Unit]
After=sys-subsystem-net-devices-usb0.device
Requires=sys-subsystem-net-devices-usb0.device
DefaultDependencies=no
SurviveFinalKillSignal=yes

[Service]
ExecStart=/usr/bin/nbd-client -p -systemd-mark 172.16.42.2 9999 /dev/nbd0
Restart=always
RemainAfterExit=yes
