[Unit]
Before=initrd-root-fs.target

After=rootfs-nbd.service modprobe@erofs.service
Requires=rootfs-nbd.service modprobe@erofs.service

DefaultDependencies=no

[Mount]
What=/dev/nbd0
Where=/sysroot
Type=erofs
